<%- include("partials/header.ejs") %>
<div class="container">
  <%- include("partials/headerbar.ejs") %>
  <div
    class="admincontain"
    style="background: linear-gradient(217deg, #fad0c4 0%, #ffd1ff 100%)"
  >
    <div class="admintable">
      <div class="thanhtiemkiem">
        <div class="find">
          <span style="position: relative; left: 15px; top: 5px"
            >Tìm kiếm theo tên đăng nhập</span
          >
        </div>
        <div class="delete" style="position: relative; top: 13px">
          <span class="textfordelete">TÌM KIẾM</span>
        </div>
      </div>
      <div class="bang">
        <!-- border="2" , width="1000px" , cellpadding="5" -->
        <table border="3" width="1000px" , cellpadding="5">
          <tr>
            <th class="column">QUYỀN</th>
            <th class="column">TÊN NGƯỜI DÙNG</th>
            <th class="column">TÊN ĐĂNG NHẬP</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="bao">
      <div class="admininfo">
        <span class="thongtin">THÔNG TIN NGƯỜI DÙNG</span>
        <span class="whitespace">Tên người dùng:</span>
        <div class="adminshowinfo">
          <% if (locals.hovaten) { %> <%= hovaten %> <% } %>
        </div>
        <span class="whitespace" style="top: 10px">Tên đăng nhập:</span>
        <div class="adminshowinfo" style="top: -30px">
          <% if (locals.username) { %> <%= username %> <% } %>
        </div>
        <span class="whitespace" style="top: -20px">Mật khẩu:</span>
        <div class="adminshowinfo" style="top: -60px">
          <% if (locals.hovaten) { %> <%= hovaten %> <% } %>
        </div>
        <span class="whitespace" style="top: -50px">Email:</span>
        <div class="adminshowinfo" style="top: -90px">
          <!-- <% if (locals.email) { %> <%= email %> <% } %> -->
        </div>
        <span class="whitespace" style="top: -80px">Số điện thoại:</span>
        <div class="adminshowinfo" style="top: -120px">
          <% if (locals.sdt) { %> <%= sdt %> <% } %>
        </div>
        <span class="whitespace" style="top: -110px">Quyền:</span>
        <div class="adminshowinfo" style="top: -150px">
          <!-- <% if (locals.sdt) { %> <%= sdt %> <% } %> -->
        </div>
        <div class="deleteupdate">
          <div class="delete">
            <form action="/deleteuser" method="POST">
              <button
                class="textfordelete"
                type="submit"
                style="background-color: #f25287; border: none"
              >
                XÓA
              </button>
            </form>
          </div>

          <div class="delete" style="margin-left: 60px; right: 20px">
            <form action="/updateuser" method="POST">
              <button
                class="textfordelete"
                type="submit"
                style="background-color: #f25287; border: none"
              >
                CẬP NHẬT
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="create">
        <form action="/createuser" method="POST">
          <button
            class="textfordelete"
            type="submit"
            style="background-color: #f25287; border: none"
          >
            THÊM MỚI NGƯỜI DÙNG
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
